.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1em;
    color: #cad2c5;
}

.box .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 15em;
    margin: 3em;
    padding: 1em;
    border: solid #293228;
    border-radius: 5%;
}

.box .imgSkill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSkill img {
    width: 2em;
    height: 2em;
    margin: 1em;
}

p{
    text-align: center;
    color: #293228;
}

.box1{
    background-image: url("../../images/projects/backgroundCandyMuseum.png") ;
    background-size: 35em;
}

.box2{
    background-image: url("../../images/projects/backgroundClickMe.png") ;
    background-size: 35em;
}

.box3{
    background-image: url("../../images/projects/backgroundScoreKeeper.png") ;
    background-size: 35em;
}

.box4{
    background-image: url("../../images/projects/backgroundRandomColor.png") ;
    background-size: 35em;
}

.box5{
    background-image: url("../../images/projects/backgroundPokemon.png") ;
    background-size: 35em;
}

.box6{
    background-image: url("../../images/projects/backgroundFirstPortfolio.png") ;
    background-size: 35em;
}

.box7{
    background-image: url("../../images/projects/Screenshot 2022-07-31 at 19.51.35.png") ;
    background-size: 35em;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
}