.meContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.lebenslaufContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5em;
    margin: 5em;
    color: #293228;
}

.baerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5em;
    margin: 5em;
    color: #293228;
}

.baer{
    width: 20em;
    height: 25em;
    border-radius: 10%;
    margin: 5em;
 }

@media screen and (max-width:940px) {
    .baer{
        display: none;
    }
}

.lebenslauf{
    width: 20em;
    height: 25em;
    border-radius: 10%;
    margin: 5em;
}

.textLebenslauf{
    text-align: center;
    width: 30em;
    border: solid #293228;
    border-radius: 5%;
    padding: 2em 3em;
    background-color: #E9EFEB;
    margin: 5em;
}

.textBaer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30em;
    border: solid #293228;
    border-radius: 5%;
    padding: 5em 3em;
    background-color: #E9EFEB;
    margin: 5em;
}

.Icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-top: 2em;
}

.Icons img{
    width: 2em;
    height: 2em;
}
