.wrapper{
    display: flex;
    justify-content: space-evenly;
    gap: 10em;
    align-items: center;
    color: #293228;
    flex-wrap: wrap;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header span{
    margin-left: 0.2em;
    color: #5AA652;
}

.mainNavbar {
    display: flex;
}

.mainNavbar img {
    display: flex;
    border-radius: 50%;
    height: 20em;
    width: 20em;
    margin-top: 2em;
    margin-left: 2em;
    border: solid #293228;
}

.nav {
    display: flex;
    border-radius: 50%;
    margin: 1em;
    border: solid #293228;
    width: 6em;
    height: 6em;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    background-color: #E9EFEB;
}

.skillsLink{
    margin-top: 4.5em;
    margin-left: 1.5em;
}

.projectsLink{
    margin-top: 15em;
    margin-left: -7em;
}

.meLink{
    margin-top: 25em;
    margin-left: -13em;
}

.mainNavbar .nav:hover{
    width: 6.5em;
    height: 6.5em;
}