.wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    align-items: center;
    justify-content: center;
}

span{
    margin-left: 0.2em;
}

.mainNavbar {
    display: flex;
}

img {
    display: flex;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin-top: 2em;
    margin-left: 2em;
}

.nav {
    display: flex;
    border-radius: 50%;
    margin: 1em;
    border: solid red;
    width: 4em;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.home{
    margin-top: 3em;
    margin-right: 0;
}

.skills{
    margin-top: 10em;
    margin-left: -1.5em;
}

.projects{
    margin-top: 17em;
    margin-left: -9em;
}

.me{
    margin-top: 22em;
    margin-left: -12em;
}